.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}
  
  .dashboard-title {
    font-size: 1.5rem;
    color: #70777F;
    margin-bottom: 10px;
    margin-left: 2rem;
  }
  
  .dashboard-link {
    border: solid 1px #88afd8;
    padding: 0.7rem;
    border-radius: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .dashboard-link a {
    color: #335880;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .dashboard-link a:hover {
    color: #0056b3;
  }

  nav {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
  }  
  